
.footer {
  background-color: #282c34;
  color: white;
  padding: 40px 20px;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: flex-start; 
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
}


.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 200px; 
}


.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #61dafb;
}

.footer p {
  margin: 10px 0;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.footer-links li, .footer-social li {
  margin: 8px 0;
}

.footer-links a, .footer-social a {
  color: #61dafb;
  text-decoration: none;
  font-size: 16px;
}

.footer-links a:hover, .footer-social a:hover {
  text-decoration: underline;
}


.footer-contact p {
  font-size: 16px;
}

.footer-links h4{
  font-size: 20px;
}

.footer-social h4{
  font-size: 20px;
}

.footer-contact h4{
  font-size: 20px;
}

.footer-contact a {
  color: #61dafb;
}




.footer-form-container {
  max-width: 600px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.footer-form-container h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #61dafb;
}

.footer-form p {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
}

.footer-form-container p{
  text-align: center;
  align-items: center;
}

.form-input, .form-textarea {
  width: 100%; 
  padding: 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  background-color: #f8f8f8; 
}

.form-button2 {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-self: center; 
}

.form-textarea {
  height: 150px; 
  resize: none; 
}

.form-button:hover {
  background-color: #4fa3f7;
}


@media (max-width: 1024px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-form-container {
    padding: 15px;
    max-width: 100%;
  }

  .footer-section {
    flex: 1 0 100%; 
    text-align: center;
  }

  .footer-links a,
  .footer-social a {
    font-size: 14px;
  }
  
  .footer-form {
    gap: 10px;
  }

  .form-input, .form-textarea {
    font-size: 1em; 
    padding: 10px; 
  }

}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    padding: 20px;
  }

  .footer-section {
    margin: 10px 0;
  }

  .footer p {
    font-size: 12px;
  }

  .footer-links h4, .footer-contact h4, .footer-social h4 {
    font-size: 16px;
  }

  .form-input, .form-textarea, .form-button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .footer-form-container {
    max-width: 100%; 
    padding: 10px; 
  }

  .form-button {
    width: 80%; 
    font-size: 1em; 
  }
}